html, body{
    height: 100%;
}
body{
    background: #fff;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
    min-width: 320px;
}
a{
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color:#2cc7c1;
}
a:hover{
    color: #2cc7c1;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    position: relative;
}
h2{
    font-family: Monserrat, sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

    /*Header*/

#header{
    background: url(../img/2.jpg) center;
    background-size: cover;
    height: 100%;
    min-height: 500px;
}
.section-table{
    display: table;
    height: 100%;
    width: 100%;
}
.section-row{
    display: table-row;
}
.section-cell{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.section-center{
    max-width: 550px;
    display: inline-block;
}
#header h1 {
    font-family: Monserrat, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
#header p{
    color: #fff;
    font-size: 20px;
}
.btn{
    font-family: Monserrat, sans-serif;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 10px;
    border:none;
    transition: background .5s;
}
.btn-primary{
    background:#7ea4e8;
}
.btn-primary:hover{
    background:#6787c2;
}
.btn-default{
    background:#6a7079;
}
.btn-default:hover{
    background:#474c52;
    color:#fff;
}

    /*Speakers*/

#speakers{
    padding:90px 0;
}
#speakers h2{
    color:#828689;
}
.large{
    color:#828689;
    font-size: 22px;
    margin-bottom: 20px;
}

.section-tabs .tab-content{
    padding: 25px 20px;
}
.section-tabs .tab-content ul{
    padding-left: 10px;
}
.section-tabs .tab-content ul li{
    line-height: 30px;
}
.section-tabs .tab-content ul li i{
    font-size: 15px;
    color:#2cc7c1;
}

.speakers-head{
    margin-top:100px;
    margin-bottom: 60px;
}
.speakers-head h2{
    color: #6a7079;
}
.speakers-head h3{
    color:#777a7d;
    font-size:20px;
    text-transform: uppercase;
}
.item > div{
    position: relative;
}
.front{
    position: absolute;
    width: 140px;
    height: 140px;
}
.back{
    width: 140px;
    height: 140px;
    background: #6bd8d3;
    display: inline-block;
    border-radius:50%;
}
.back i{
    line-height: 140px;
    font-size: 30px;
    color: #fff;
}
.item > div:hover .front{
    opacity: 0.2;
}
.item > div:hover .back{
    opacity: 1;
}
.item > div:hover h3{
    color:#6bd8d3;
}
.speakers-footer{
    margin-top: 70px;
}

    /*Events*/

#events{
    padding: 90px 0;
}
.time{
    background: #2cc7c1;
    color:#fff;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    margin-right: 25px;
}
.collapse-link{
    color:#747a84;
    font-size: 18px;
    font-weight: 500;
}
.collapse-link:hover{
     color:#747a84;
 }
.collapse-state{
    color:#2cc7c1;
}
.collapse p{
    color:#999999;
}
.tab-collapse{
    margin-bottom: 20px;
}
.row-item-call{
    margin-top: 100px;
}
.row-item{
    margin-top: 100px;
}

    /*Form*/

#form{
    padding: 90px 0;
    background: #f3f3f3;
}
.section-form{
    background: #fff;
    padding:40px;
    border-radius:2px;
    margin-top: 50px;
}
.section-form input,
.section-form select{
    height: 44px;
    background: #efefef;
    padding-right: 25px;
}


/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1200px){

}
/*Medium Devices, Desktops*/
@media only screen and (max-width:992px){
    #speakers{
      padding:20px 0;
    }
    .speakers-head,
    .speakers-footer{
        margin: 20px 0;
    }
    .row-item{
        margin-top: 20px;
    }
}
/*Small Devices, Tablets*/
@media only screen and (max-width:600px){
    .section-center{
        max-width: 320px;
    }
    #header h1 {
        font-size: 20px;

    }
    #header p {
         font-size: 16px;
    }
    .section-btn{
        font-size: 15px;
    }
}
/*Extra Small Devices, Phones*/
@media only screen and (max-width:480px){
    .row-item{
        margin-top: 30px;
    }
}